.App {
  text-align: center;
  height: 600px;
}

.comparisoncountry {
  display: flex;
  gap: 20px;
  text-align: center;
  padding-left: 250px;
}

.comparisoncountry div {
  display: flex;
  gap: 20px;
}

.comparisoncountry div select {
  height: 40px;
}

.comparisoncountry div label {
  margin-top:8px;
}

.button {
  background-color: gray;
  padding: 10px;
  color: white;
  margin-top: 20px;
  border-color: gray;
  width: 300px;
  border-radius: 10px;
}

.comparison {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.comparison div {
  border: 1px solid #ccc;
  padding: 20px;
  width: 40%;
  background-color: rgb(199, 199, 199);
}

.comparison div p {
  font-weight: 700;
}

@media  (max-width: 776px) {
  .comparisoncountry {
    display: grid;
    margin-left: -200px;
  }
}
